<body style="margin: 0; padding: 0; height: 100%; overflow: hidden; background: transparent;">

  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: url('assets/1.jpg'); background-size: cover; background-position: center; filter: blur(4px); z-index: -1;"></div>

  <div class="navbar">
      <a class="navbar-brand HospitalName" href="#"> <b> XYZ HOSPITALS </b></a>
      
</div>

<div class="logins">
    <button style="margin: 5px;" class="btn btn-secondary logButton" data-toggle="modal" data-target="#loginModal"><a style="color: white;" href="javascript:void(0);" routerLink="/doclogin">Login as Doctor</a></button>
    <button style="margin: 5px;" class="btn btn-secondary logButton" data-toggle="modal" data-target="#loginModal"><a style="color:white;" href="javascript:void(0);" routerLink="/adlogin">Login as Admin</a></button> 
  </div>
          
<div style=" position: fixed; bottom: 0; width: 100%;">
  <nav class="navbar navbar-expand-md navbar-dark bgclr "  >
      <div class="d-flex justify-content-center mx-auto">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto demo">
                  <b>Demo Accounts :-</b>
                  <b>Doctor Username :- abc Password :- abc</b>
                  <b>Admin Username :- xyz Password :- xyz</b>
              </ul>
          </div>
      </div>
  </nav>

  <footer class="container text-center bgclr" style="position: relative; z-index: 1; ">
      <div>Contact: 7363 998 3232 | © 2023-2024 XYZ hospitals, Inc.</div>
  </footer>
</div>
</body>