<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">

    <a style="color: white;" class="navbar-brand" href="#">XYZ HOSPITALS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">



            <li class="nav-item">
                <a style="color: white;" class="nav-link active" aria-current="page" href="javascript:void(0);"
                    routerLink="/docdash">Back</a>
            </li>



        </ul>

    </div>

</nav>

<div class="container">
    <h2 class="text-center">Add new Patient</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" id="name" name="name" placeholder="Enter Your Name" class="form-control" [(ngModel)]="patient.name">
        </div>
        <div class="form-group">
            <label>Age</label>
            <input type="text" id="age" name="age" placeholder="Enter Your Age" class="form-control" [(ngModel)]="patient.age">
        </div>
        <div class="form-group">
            <label>Blood</label>
            <input type="text" id="blood" name="blood" placeholder="Enter Your Blood Group" class="form-control" [(ngModel)]="patient.blood">
        </div>
        <div class="form-group">
            <label>Prescription</label>
            <input type="text" id="prescription" name="prescription" placeholder="Enter Prescription" class="form-control" [(ngModel)]="patient.prescription">
        </div>
        <div class="form-group">
            <label>Dose</label>
            <input type="text" id="dose" name="dose" placeholder="Enter Dose" class="form-control" [(ngModel)]="patient.dose">
        </div>
        <div class="form-group">
            <label>Fees</label>
            <input type="text" id="fees" name="fees" placeholder="Enter Fees" class="form-control" [(ngModel)]="patient.fees">
        </div>
        <div class="form-group">
            <label>Urgency</label>
            <input type="text" id="urgency" name="urgency" placeholder="Enter Urgency" class="form-control" [(ngModel)]="patient.urgency">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
